:root {
  --bg-color: #FDFFFC;
  --primary-color: #344055;
}

.App {
  background-color: var(--bg-color);
  height: 100vh;
}

.App .home-searchcontainer {
  background-color: var(--primary-color);
  height: 40%;
  width: 100%;
  border-radius: 0px 0px 10px 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}
